.fondo {
    background-color: #000000;
    color: #C7CCDB;
    text-align: center;
}


table {
    border: 5px solid #767B91;
    color: #C7CCDB;
    background-color:#2A324B;
    font-family: "impact";
    padding: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    margin-bottom: 10vh;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    text-shadow: -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, 0px 5px 1px #000000;
    font-size: 30px;
    text-align: left;
}

h1 { 
    text-align:center;
}
.input{
    width: 100%;
    max-width: 300px;
    height: 40px;
    font-family: "verdana";
    font-size: 20px;
    border-radius: 10px;
}

.cajaRegistro{
    background-color: #2A324B;
    padding: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 4px solid #c7ccdb;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    color: #c7ccdb;
    font-family: "verdana";
    font-weight: 800;
    gap: 20px;
    text-shadow: -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, 0px 4px 1px #000000;
}

.boton-volver {
    position: absolute;
    top: 10px;
    left: 10px;
}

input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
